.form-register{
    padding: 20px 40px;
    border-radius: 10px;
}

body{
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: arial;
    background-image: url('/img/page.png');
    background-size: cover;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    -webkit-box-shadow: 6px 7px 29px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 7px 29px 11px rgba(0,0,0,0.75);
    box-shadow: 6px 7px 29px 11px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.box h2{
    margin: 0 0 20px;
    padding: 0;
    color: #fff;
    text-align: center;

}

.box .inputB{
    position: relative;
}

.box .inputB input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #ffff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ffff;
    outline: none;
    background: transparent;
}

.box .inputB label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #ffff;
    pointer-events: none;
    transition: .75s;
}
/* .box .inputB:empty{
    background-color: #FFF !important;
} */
.box .inputB input:focus ~ label,
.box .inputB input:not(:focus):valid ~ label {
    top: -20px;
    left: 0;
    color: #606DE7;
    font-size: 14px;

}


/*---------------------
  Header
-----------------------*/

.header {
	background: #041B2D;
}

.edit_Profile{
    float:right;
    font-size: 30px;
}

h1{
    text-align: center;
}

.img-thumbnail{
    width: 150px; 
    height: 150px;
    border: 15px;
}